<section class="about-us"  id="about-us">
    <div class="container about-container">
    <div class="about-us-container">
    <h1 class="about-title">About Us</h1>
    <p class="about-text">The store "Vyshyvanka Vibes" is a place where traditional Ukrainian vyshyvanka comes to life with new zest and style.
    Our store offers a wide selection of high-quality and authentic embroidery, which combines the elegance of traditional
    needlework and modern design.</p>
    <p class="about-text">In "Vyshyvanka Vibes" you will find various models of embroidery, from classic to modern, corresponding to the latest
    fashion trends. Our embroidery is made using natural fabrics and is embroidered by highly qualified craftsmen who convey
    the beauty of Ukrainian culture in every detail.We believe that vyshyvanka is not just clothing, but a symbol of
    national pride, the heritage of our ancestors and a way of expressing one's individuality. Each embroidery from
    "Vyshyvanka Vibes" has its own unique history and symbolism, which gives it a special meaning.</p>
    </div>
    <div class="about-picture">
        <picture class="picture-about-img">
    <source srcset="./img/about.img/girl-and-boy-desk.jpg 1x, ./img/about.img/girl-and-boy-desk-2x.jpg 2x" media="(min-width: 1280px)">
    <source srcset="./img/about.img/girl-and-boy-tab.jpg 1x, ./img/about.img/girl-and-boy-tab-2x.jpg 2x " media="(min-width: 768px)">
    <source srcset="./img/about.img/girl-and-boy-mob.jpg 1x, ./img/about.img/girl-and-boy-mob-2x.jpg 2x" media="(min-width: 320px)">
    <img src="./img/about.img/girl-and-boy-mob.jpg" width="335" alt="Сорочка" class="about-img">
        </picture>
    </div>
    </div>
</section>