<section class="section-our-collection" id="our_collection">
    <div class="container">
        <h2 class="our-collection-title">Our collection</h2>
        <ul class="our-collection-list">
            <li class="our-collection-item">
                <picture>
                    <source srcset="./img/our_collection/our_collection_mob_1@1x.jpg 1x, ./img/our_collection/our_collection_mob_1@2x.jpg 2x" media="(min-width: 320px) and (max-width: 767px)">
                    <source srcset="./img/our_collection/our_collection_tabl_1@1x.jpg 1x, ./img/our_collection/our_collection_tabl_1@2x.jpg 2x" media="(min-width: 768px) and (max-width: 1279px)">
                    <source srcset="./img/our_collection/our_collection_desk_1@1x.jpg 1x, ./img/our_collection/our_collection_desk_1@2x.jpg 2x" media="(min-width: 1280px)">
                    <img class="picture-radius" src="./img/our_collection/our_collection_mob_1@1x.jpg" alt="Poltava women's blouse">
                </picture>
                <div class="our-collection-title-price">
                    <h3 class="our-collection-item-title">AUGUST Poltava women's blous<span class="collection-tab">...</span><span class="collection-mob">RING</span></h3>
                    <p class="our-collection-price">3300 UAH</p>
                </div>
            </li>
            <li class="our-collection-item">
                <picture>
                    <source srcset="./img/our_collection/our_collection_mob_2@1x.jpg 1x, ./img/our_collection/our_collection_mob_2@2x.jpg 2x" media="(min-width: 320px) and (max-width: 767px)">
                    <source srcset="./img/our_collection/our_collection_tabl_2@1x.jpg 1x, ./img/our_collection/our_collection_tabl_2@2x.jpg 2x" media="(min-width: 768px) and (max-width: 1279px)">
                    <source srcset="./img/our_collection/our_collection_desk_2@1x.jpg 1x, ./img/our_collection/our_collection_desk_2@2x.jpg 2x" media="(min-width: 1280px)">
                    <img class="picture-radius" src="./img/our_collection/our_collection_mob_2@1x.jpg" alt="Poltava women's blouse">
                </picture>
                <div class="our-collection-title-price">
                    <h3 class="our-collection-item-title">Women's blouse Gorgany</h3>
                    <p class="our-collection-price">3350 UAH</p>
                </div>
            </li>
            <li class="our-collection-item">
                <picture>
                    <source srcset="./img/our_collection/our_collection_mob_3@1x.jpg 1x, ./img/our_collection/our_collection_mob_3@2x.jpg 2x" media="(min-width: 320px) and (max-width: 767px)">
                    <source srcset="./img/our_collection/our_collection_tabl_3@1x.jpg 1x, ./img/our_collection/our_collection_tabl_3@2x.jpg 2x" media="(min-width: 768px) and (max-width: 1279px)">
                    <source srcset="./img/our_collection/our_collection_desk_3@1x.jpg 1x, ./img/our_collection/our_collection_desk_3@2x.jpg 2x" media="(min-width: 1280px)">
                    <img class="picture-radius" src="./img/our_collection/our_collection_mob_3@1x.jpg" alt="Poltava women's blouse">
                </picture>
                <div class="our-collection-title-price">
                    <h3 class="our-collection-item-title">Women's blouse Crimea</h3>
                    <p class="our-collection-price">4000 UAH</p>
                </div>
            </li>
            <li class="our-collection-item">
                <picture>
                    <source srcset="./img/our_collection/our_collection_mob_4@1x.jpg 1x, ./img/our_collection/our_collection_mob_4@2x.jpg 2x" media="(min-width: 320px) and (max-width: 767px)">
                    <source srcset="./img/our_collection/our_collection_tabl_4@1x.jpg 1x, ./img/our_collection/our_collection_tabl_4@2x.jpg 2x" media="(min-width: 768px) and (max-width: 1279px)">
                    <source srcset="./img/our_collection/our_collection_desk_4@1x.jpg 1x, ./img/our_collection/our_collection_desk_4@2x.jpg 2x" media="(min-width: 1280px)">
                    <img class="picture-radius" src="./img/our_collection/our_collection_mob_4@1x.jpg" alt="Poltava women's blouse">
                </picture>
                <div class="our-collection-title-price">
                    <h3 class="our-collection-item-title">Men's shirt Verkhovina</h3>
                    <p class="our-collection-price">3100 UAH</p>
                </div>
            </li>
            <li class="our-collection-item">
                <picture>
                    <source srcset="./img/our_collection/our_collection_mob_5@1x.jpg 1x, ./img/our_collection/our_collection_mob_5@2x.jpg 2x" media="(min-width: 320px) and (max-width: 767px)">
                    <source srcset="./img/our_collection/our_collection_tabl_5@1x.jpg 1x, ./img/our_collection/our_collection_tabl_5@2x.jpg 2x" media="(min-width: 768px) and (max-width: 1279px)">
                    <source srcset="./img/our_collection/our_collection_desk_5@1x.jpg 1x, ./img/our_collection/our_collection_desk_5@2x.jpg 2x" media="(min-width: 1280px)">
                    <img class="picture-radius" src="./img/our_collection/our_collection_mob_5@1x.jpg" alt="Poltava women's blouse">
                </picture>
                <div class="our-collection-title-price">
                    <h3 class="our-collection-item-title">Mountain men's shirt</h3>
                    <p class="our-collection-price">3300 UAH</p>
                </div>
            </li>
            <li class="our-collection-item">
                <picture>
                    <source srcset="./img/our_collection/our_collection_mob_6@1x.jpg 1x, ./img/our_collection/our_collection_mob_6@2x.jpg 2x" media="(min-width: 320px) and (max-width: 767px)">
                    <source srcset="./img/our_collection/our_collection_tabl_6@1x.jpg 1x, ./img/our_collection/our_collection_tabl_6@2x.jpg 2x" media="(min-width: 768px) and (max-width: 1279px)">
                    <source srcset="./img/our_collection/our_collection_desk_6@1x.jpg 1x, ./img/our_collection/our_collection_desk_6@2x.jpg 2x" media="(min-width: 1280px)">
                    <img class="picture-radius" src="./img/our_collection/our_collection_mob_6@1x.jpg" alt="Poltava women's blouse">
                </picture>
                <div class="our-collection-title-price">
                    <h3 class="our-collection-item-title">Men's shirt Yasen</h3>
                    <p class="our-collection-price">1700 UAH</p>
                </div>
            </li>
        </ul>
    </div>
</section>