<footer class="footer">
  <div class="footer-container container">
    <div class="footer-list-container">
      <ul class="footer-anchor-list">
        <li class="footer-anchor-item">
          <a href="#about_us" class="footer-anchor-link about-us-link">About us</a>
        </li>
        <li class="footer-anchor-item">
          <a href="#our_collection" class="footer-anchor-link">Our collection</a>
        </li>
        <li class="footer-anchor-item">
          <a href="#customer_order" class="footer-anchor-link">Customer order</a>
        </li>
        <li class="footer-anchor-item">
          <a href="#testimonials" class="footer-anchor-link">Testimonials</a>
        </li>
      </ul>
    </div>
    <div class="footer-tagline-container">
      <p class="footer-tagline">
        A touch of
        <span class="footer-tagline-color">Ukrainian</span> culture in every
        embroidery
      </p>
    </div>
  </div>
</footer>