<header class="header">
    <div class="container">

      <!-- Navigation -->
      <nav class="nav">
          <a href="./index.html" target="_blank" class="nav-logo">
            <img src="./img/logo.svg" alt="styl logo" width="44" height="39">
          </a>
          <ul class="nav-menu">
              <li class="nav-item_one"><a class="nav-item-link_one" href="#about_us">About us</a></li>
              <li class="nav-item"><a class="nav-item-link" href="#our_collection">Our collection</a></li>
              <li class="nav-item"><a class="nav-item-link" href="#customer_order">CUSTOMER ORDER</a></li>
              <li class="nav-item"><a class="nav-item-link" href="#testimonials">TEstimonials</a></li>
          </ul>
      </nav>

      <!-- Adress -->
      <address class="address">
          <a class="address-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
          <ul class="address-list">
            <li class="address-list-item">
              <a class="address-list-link" href="https://www.facebook.com/goITclub/" target="_blank">
                  <svg class="address-icon" width="28" height="28">
                     <use href="./img/icons.svg#icon-facebook"></use>
                  </svg> 
              </a>
            </li>
            <li class="address-list-item">
                <a class="address-list-link" href="https://www.instagram.com/goitclub/" target="_blank">
                <svg class="address-icon" width="28" height="28">
                    <use href="./img/icons.svg#icon-instagram"></use>
                 </svg>
                </a>
            </li>
            <li class="address-list-item">
                <a class="address-list-link" href="https://www.youtube.com/c/GoIT" target="_blank">
                <svg class="address-icon" width="28" height="28">
                    <use href="./img/icons.svg#icon-youtube"></use>
                 </svg>
               </a>
          </ul>
          <button type="button" class="menu-open-btn">
            <svg class="open-btn-icon" width="100%" height="100%">
                <use href="./img/icons.svg#icon-Nav"></use>
            </svg>
          </button>
      </address>
      <!-- Mob_menu -->
    <div class="mob-menu">
    <address class="mob-address">
    <a class="mob-address-link" href="tel:+380684439426">+380 (68) 443-94-26</a>
    <button type="button" class="mob-btn">
      <svg  class="icon-btn" xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36" fill="none">
        <path d="M27 9L9 27" stroke="#1C2225" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        <path d="M9 9L27 27" stroke="#1C2225" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
      </svg>
      <!-- <svg class="icon-btn" width="100%" height="100%">
        <use href="./img/icons.svg#icon-Nav"></use>
      </svg> -->
    </button>
    </address>          
      <ul class="mob-list">
          <li class="mob-item"><a class="mob-item-link" href="#about_us">About us</a></li>
          <li class="mob-item"><a class="mob-item-link" href="#our_collection">Our collection</a></li>
          <li class="mob-item"><a class="mob-item-link" href="#customer_order">CUSTOMER ORDER</a></li>
          <li class="mob-item"><a class="mob-item-link" href="#testimonials">TEstimonials</a></li>
      </ul>
    </div>
    </div>
  </header>