<section class="section-order" id="customer_order">
    <div class="container">
        <div class="order-title-form">
            <h2 class="order-title">
                <span class="order-title-span">Your order</span> is our priority: Personalized approach and quality of
                service
            </h2>
            <form class="order-form">
                <!-- user name -->
                <div class="order-input">
                    <label for="user-name" class="modal-label"></label>
                    <div class="input-user">
                        <input type="text" name="user-name" class="modal-input" placeholder="Enter your full name"
                            pattern="[A-z]{1,15}" required id="user-name">
                    </div>
                </div>
                <!-- user email -->
                <div class="modal-field">
                    <label for="user-email" class="modal-label"></label>
                    <div class="input-user">
                        <input type="email" name="user-email" class="modal-input" placeholder="Enter your email"
                            pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})" required id="user-email">
                    </div>
                </div>
                <!-- user comment -->
                <div class="modal-field modal-field-textarea">
                    <label for="user-comment" class="modal-label"></label>
                    <textarea name="user-comment" cols="30" rows="5" class="modal-textarea" placeholder="Comments" required
                        id="user-comment"></textarea>
                </div>

                <!-- button -->
                <button class="send-btn" type="submit">Send
                    <svg class="modal-user-icon" width="27.5" height="18.5">
                        <use href="./img/icons.svg#icon-hero-button"></use>
                    </svg>
                </button>
            </form>
        </div>
        <div class="order-container-image">
            <picture>
                <source srcset="./img/order/768ImageBottom1x.jpg 1x, ./img/order/768ImageBottom2x.jpg 2x"
                    media="(min-width: 768px)">
                <source srcset="./img/order/1280Rectangle1x.jpg 1x, ./img/order/1280Rectangle1x.jpg 2x"
                    media="(min-width: 1280px)">
                <img class="order-image" src="./img/order/768ImageBottom1x.jpg" alt="national costume">
            </picture>
        </div>
    </div>
</section>