<section class="testimonials">
  <div class="testimonials-container">
    <h2 class="testimonials-title section-title">Testimonials</h2>
    <ul class="testimonials-list list">
      <li class="testimonials-item">
        <div class="testimonials-content">
          <div id="empty-container" class="empty-container"></div>
          <img
            srcset="
              ./img/img-testimonials/Ellipse1.png    1x,
              ./img/img-testimonials/Ellipse1-2x.png 2x
            "
            src="./img/img-testimonials/Ellipse1.png"
            alt="Maria Tkachuk"
            width="64"
            height="64"
            class="testimonials-img"
          />

          <h3 class="testimonials-subtitle">Maria Tkachuk</h3>
          <p class="testimonials-item-text">
            I was pleasantly surprised by the variety of embroidery offered by
            Vyshyvanka Vibes. They have models for every taste - from classic to
            modern. I bought an embroidered dress to celebrate a special
            occasion and received impeccable service and refinement in every
            detail.
          </p>
        </div>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-content">
          <div id="empty-container" class="empty-container"></div>
          <img
            srcset="
              ./img/img-testimonials/Ellipse2.png    1x,
              ./img/img-testimonials/Ellipse2-2x.png 2x
            "
            src="./img/img-testimonials/Ellipse2.png"
            alt="Sergey Rybachok"
            width="64"
            height="64"
            class="testimonials-img"
          />
          <h3 class="testimonials-subtitle">Sergey Rybachok</h3>
          <p class="testimonials-item-text">
            Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
            simply masterpieces! I fell in love with the quality of the
            materials and the skill of the artisans behind each product. This is
            my favorite embroidery shop where I always find something special
            and unique.
          </p>
        </div>
      </li>
      <li class="testimonials-item">
        <div class="testimonials-content">
          <div id="empty-container" class="empty-container"></div>
          <img
            srcset="
              ./img/img-testimonials/Ellipse3.png    1x,
              ./img/img-testimonials/Ellipse3-2x.png 2x
            "
            src="./img/img-testimonials/Ellipse3.png"
            alt="Natalia Chatuk"
            width="64"
            height="64"
            class="testimonials-img"
          />
          <h3 class="testimonials-subtitle">Natalia Chatuk</h3>
          <p class="testimonials-item-text">
            Vyshyvanka Vibes is a real find for everyone who appreciates
            Ukrainian culture. Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for
            myself, but also give them to my friends abroad as a symbol of our
            beauty and national pride.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
