/* our collection */
.section-our-collection {
    padding-bottom: 80px;
}

.section-our-collection .container {
    background-image: url(../img/our_collection/elements_mob_1x.png);
    background-repeat: no-repeat;
    background-size: 72px 177px;
    background-position: left 0px top 250px;
}

@media (min-resolution: 192dpi) {
    .section-our-collection .container {
        background-image: url(../img/our_collection/elements_mob_2x.png);
    }   
        
}

.our-collection-title {
    color:#FCF9F9;
    font-size: 32px;
    font-weight: 500;
    line-height: 1.37;
    letter-spacing: -0.03em;
    text-align: center;
    margin-bottom: 40px;
}

.our-collection-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.our-collection-item {
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.our-collection-title-price {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.our-collection-item-title {
    color: #FCF9F9;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.collection-tab {
    display: none;
}

.our-collection-price {
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    letter-spacing: 0.05em;
    color: rgba(252, 249, 249, 0.40);
}







/* =============================== Tablet =============================== */
@media screen and (min-width: 768px) {

.section-our-collection {
    padding-bottom: 100px;
}

.section-our-collection .container {
    background-image: url(../img/our_collection/elements_tabl_1x.png);
    background-size: 114px 300px;
    background-position: left 0px top 220px;
}

@media (min-resolution: 192dpi) {
    .section-our-collection .container {
        background-image: url(../img/our_collection/elements_tabl_2x.png);
    }   
        
}

.our-collection-title {
    font-size: 44px;
    line-height: 1.45;
}

.our-collection-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.our-collection-item {
    width: calc((100% - 20px) / 2);
}

.our-collection-item-title {
    font-size: 18px;
}

.collection-tab {
    display: inline-block;
}

.collection-mob {
    display: none;
}

.our-collection-price {
    font-size: 18px;
}

}


/* ================== Desk ====================== */
@media screen and (min-width: 1280px) {
    
.section-our-collection {
    padding-bottom: 150px;
}

.section-our-collection .container {
    background-image: url(../img/our_collection/elements_desk_1x.png);
    background-size: 169px 300px;
    background-position: left 0px top 215px;
}

@media (min-resolution: 192dpi) {
    .section-our-collection .container {
        background-image: url(../img/our_collection/elements_desk_2x.png);
    }   
        
}

.our-collection-list {
    gap: 40px 20px;
}

.our-collection-item {
    width: calc((100% - 40px) / 3);
}

}