.footer {
  border-top: 1px solid rgba(252, 249, 249, 0.10);
  padding-top: 40px;
  padding-bottom: 292px;
  background-image: url(../img/footer/foot-orn-mob-1x.png);
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: 375px 212px;
}

@media screen and (min-resolution: 192dpi) {
  .footer {
    background-image: url(../img/footer/foot-orn-mob-2x.png);
  }
}

.footer-anchor-list {
  column-count: 2;
  margin-bottom: 40px;
}

.footer-anchor-item:nth-child(2n+1) {
  margin-bottom: 25px;
}

.footer-anchor-link {
  color: #fcf9f9;
  font-size: 14px;
  line-height: 1.29;
  text-transform: uppercase;
  font-weight: 400;
}

.about-us-link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about-us-link:hover,
.about-us-link:focus {
  color: #ECD979;
}

.footer-tagline {
  color: #fcf9f9;
  font-size: 44px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -0.03em;
}

.footer-tagline-color {
  color: #ecd979;
}


/* ========================= TABLET =============================== */
@media screen and (min-width: 768px) {
  .footer {
    max-width: 768px;
    margin: 0 auto;
    padding-bottom: 40px;
    background-image: url(../img/footer/foot-orn-tab-1x.png);
    background-position: right top;
    background-size: 174px 370px;
  }
  
  @media screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url(../img/footer/foot-orn-tab-2x.png);
    }
  }
  
  .footer-anchor-list {
    display: flex;
    gap: 25px;
    margin-bottom: 80px;
  }
  
  .footer-anchor-item:nth-child(2n+1) {
    margin-bottom: 0px;
  }
  
  .footer-tagline {
    font-size: 54px;
    width: 521px;
  }
}


/* ========================= DESKTOP ============================== */
@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1280px;
    margin: 0 auto;
    background-image: url(../img/footer/foot-orn-desk-1x.png);
    background-position: right top;
    background-size: 336px 363px;
  }
  
  @media screen and (min-resolution: 192dpi) {
    .footer {
      background-image: url(../img/footer/foot-orn-desk-2x.png);
    }
  }
  
  .footer-anchor-list {
    margin-bottom: 117px;
  }
  
  .footer-tagline {
    font-size: 64px;
    width: 754px;
  }
}