.section-order {
}

.section-order .container {
  display: flex;
  flex-direction: column;
  padding-top: 630px;
  padding-bottom: 81px;
  background-image: url(./img/order/320Image1x.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 375px 550px;
}

@media (min-resoluton: 192dpi) {
  .section-order .container {
    background-image: url(./img/order/320Image2x.png);
  }
}

.order-title-form {
  display: flex;
  flex-direction: column;
}

.order-title {
  width: 100%;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
}
.order-title-span {
  color: #ecd979;
}

/* ========= FORM ============ */
.order-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 40px;
}

.input-user {
  padding-bottom: 20px;
}

.modal-input {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
  background-color: transparent;
  width: 100%;
  padding: 14px 16px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}

input::placeholder {
  color: rgba(252, 249, 249, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

input[type='text'] {
  color: #fcf9f9;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
}

input[type='email'] {
  color: #fcf9f9;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
}

#user-comment {
  color: #fcf9f9;
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
}

.modal-textarea {
  font-family: Manrope;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
  background: transparent;
  width: 100%;
  padding: 14px 16px;
  border-radius: 8px;
  border: 1px solid rgba(252, 249, 249, 0.1);
}

.modal-textarea::placeholder {
  color: rgba(252, 249, 249, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.28px;
}

.send-btn {
  display: flex;
  width: 155px;
  height: 49px;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  color: #fcf9f9;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  margin: 40px auto 0px auto;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-user-icon {
  fill: #ecd979;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-btn:hover,
.send-btn:focus {
  border: 1px solid #ecd979;
}

.send-btn:hover .modal-user-icon,
.send-btn:focus .modal-user-icon {
  transform: rotate(-30deg);
}

.order-container-image {
  display: none;
}

/* Tablet 768px */

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .section-order {
  }

  .section-order .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 876px;
    padding-bottom: 179px;
    background-image: url(./img/order/768ImageTop1x.png),
      url(./img/order/768ornamentOrder1x.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top center, left bottom 100px;
    background-size: 768px 776px, 323px 484px;
  }

  @media (min-resoluton: 192dpi) {
    .section-order .container {
      background: url(./img/order/768ImageTop2x.png),
        url(./img/order/768ornamentOrder2x.png);
    }
  }

  .order-title-form {
    max-width: 542px;
  }

  .order-title {
    font-size: 44px;
    line-height: 1.32;
  }

  /* ========= FORM ============ */
  .order-form {
    width: 508px;
  }

  input::placeholder {
    font-size: 16px;
  }

  .modal-textarea {
    width: 508px;
  }

  .send-btn {
    width: 168px;
    height: 50px;
    font-size: 16px;
    margin: 40px auto 100px 0px;
  }

  .order-container-image {
    display: flex;
    justify-content: flex-end;
  }

  .order-image {
    border-radius: 4px;
    overflow: hidden;
  }
}

/* Desk 1280 */
@media screen and (min-width: 1280px) {
  .section-order {
  }

  .section-order .container {
    flex-direction: row;
    justify-content: space-between;
    max-width: 1280px;
    padding-left: 64px;
    padding-right: 100px;
    padding-top: 926px;
    padding-bottom: 150px;
    background-image: url(./img/order/1280ImageTop1x.png),
      url(./img/order/1280ornamentOrder1x.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top center, left bottom 150px;
    background-size: 1282px 776px, 325px 484px;
  }

  @media (min-resoluton: 192dpi) {
    .section-order .container {
      background: url(./img/order/1280ImageTop2x.png),
        url(./img/order/1280ornamentOrder2x.png);
    }
  }

  .order-title-form {
    max-width: 542px;
    margin-left: 50px;
    order: 2;
  }

  .order-title {
    font-size: 44px;
    line-height: 1.32;
  }

  /* ========= FORM ============ */
  .order-form {
    width: 508px;
  }

  input::placeholder {
    font-size: 16px;
  }

  .modal-textarea {
    width: 508px;
  }

  .send-btn {
    width: 168px;
    height: 50px;
    font-size: 16px;
    margin-top: 40px;
    margin-left: 0;
  }

  .order-container-image {
    display: flex;
  }

  .order-image {
    border-radius: 4px;
    overflow: hidden;
  }
}
