.testimonials {
  padding-top: 81px;
  padding-bottom: 80px;
  background-color: #1c2225;
}

.testimonials-container {
  max-width: 1280px;
  margin: 0 auto;
  width: 100%;
}

.testimonials-title {
  color: #fcf9f9;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
}

.testimonials-list {
  flex-wrap: wrap;
}

.testimonials-item {
  position: relative;
  border-radius: 4px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  padding: 0 18px 18px 18px;
  margin-top: 24px;
}

.testimonials-content {
}

.empty-container {
  height: 34px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  width: 100%;
}

.testimonials-img {
  border-radius: 64px;
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: 0px 1px 4px 0px rgba(16, 24, 40, 0.06);
  position: absolute;
  top: -32px;
  left: 50%;
  transform: translate(-50%);
  background-color: #1c2225;
}

.testimonials-subtitle {
  margin-bottom: 8px;
  color: #fcf9f9;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}

.testimonials-item-text {
  color: rgba(252, 249, 249, 0.4);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}

.testimonials-item:not(:nth-child(-n + 1)) {
  display: none;
}

@media screen and (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .testimonials-list {
    display: flex;
    gap: 32px;
  }
  .testimonials-item {
    width: calc((100% - 32px) / 2);
  }

  .testimonials-item:not(:last-child) {
    display: flex;
  }

  .testimonials-item-text {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }

  .testimonials-list {
    display: flex;
    gap: 26px;
  }

  .testimonials-item {
    width: calc((100% - 72px) / 3);
  }

  .testimonials-item:last-child {
    display: flex;
  }

  .testimonials-item-text {
    font-size: 16px;
  }
}
